@inherits MenuBase;

@if(PageNavigator != null)
{
    <li class="@LiClasses()">
        <a class="@LinkClasses()" href="@LinkHref()" 
            data-bs-toggle="@(PageNavigator.CurrentPage.HasChildren && PageNavigator.CurrentPage.IsClickable == false ? "dropdown" : "")"
        >
            @PageNavigator.CurrentPage.Name
        </a>

        @if(PageNavigator.HasChildren)
        {
            <NavItems PageNavigator="PageNavigator"></NavItems>
        }
    </li>
}