@inherits MenuBase;

@if(PageNavigator != null)
{
    <li class="@liCLasses()">
        <a class="@aClasses()" target="" data-bs-toggle="@aDataBsToggle()" href="@aHref()">
            @PageNavigator.CurrentPage.Name
        </a>

        @if(PageNavigator.HasChildren)
        {
            <NavItems PageNavigator="PageNavigator"></NavItems>
        }
    </li>
}
