@using ToSic.Oqt.Themes.ToShineBs5.Client.Menu.Main;
@inherits NavItem;

@if(PageNavigator != null)
{
    <li class="@LiClasses()">
        <a class="@LinkClasses()" href="@LinkHref()">
            @PageNavigator.CurrentPage.Name
        </a>

        @if(PageNavigator.HasChildren)
        {
            <span class='nav-item-sub-opener @(PageNavigator.CurrentPage.PageId == this.PageState.Page.PageId ? "" : "collapsed")'
                data-bs-toggle="@(PageNavigator.HasChildren ? "collapse"  : "")" 
                data-bs-target="@(PageNavigator.HasChildren ? ".collapse-" + @PageNavigator.CurrentPage.PageId : "")" 
            ></span>
@*            <span class="dropdown-toggle nav-item-sub-opener" 
                data-bs-toggle="@(PageNavigator.HasChildren ? "dropdown" : "")" 
                data-bs-target="@(PageNavigator.HasChildren ? ".dropdown-" + @PageNavigator.CurrentPage.PageId : "")"
            ></span>*@
            <NavItemsMobile PageNavigator="PageNavigator"></NavItemsMobile>
        }
    </li>
}