@namespace Oqtane.Themes.Controls
@inherits MenuItemsBase

@*@if(PageNav().Children.Any())
{ *@
@*    <ul class="@(ParentPage == null ? "nav" : "dropdown-menu")">
    @foreach (var pageNav in PageNav().Children)
    {
        var cssClasses = new List<string>();
        cssClasses.Add("nav-item");
        cssClasses.Add("nav-" + pageNav.PageNavigatorPage.PageId);
        if(pageNav.PageNavigatorPage.Order == 1){ cssClasses.Add("first"); }
        //if( pageNav.PageNavigatorPage.Order == CountPages() ){ cssClasses.Add("last"); }
        if(pageNav.PageNavigatorPage.HasChildren == true){ cssClasses.Add("has-child dropdown"); }
        if(PageState.Page.PageId == pageNav.PageNavigatorPage.PageId){ cssClasses.Add("active"); } else { cssClasses.Add("inactive"); }
        if(pageNav.PageNavigatorPage.IsClickable == true){ cssClasses.Add("disabled"); }
        var classString =  string.Join(" ", cssClasses);
        <li class="@classString">
            @if(pageNav.PageNavigatorPage.IsClickable == true)
            {
                var linkCssClasses = new List<string>();

                @if (pageNav.PageNavigatorPage.HasChildren && pageNav.PageNavigatorPage.Level == 0){ linkCssClasses.Add("dropdown-toggle"); }
                @if(pageNav.PageNavigatorPage.Level != 0){ linkCssClasses.Add("dropdown-item"); } else { linkCssClasses.Add("nav-link"); }
                var linkClassString = string.Join(" ", linkCssClasses);

                <a class="@linkClassString" target="" href="@GetUrl(pageNav.PageNavigatorPage)">@pageNav.PageNavigatorPage.Name</a>
            } else {
                @if (pageNav.PageNavigatorPage.HasChildren && pageNav.PageNavigatorPage.Level == 0)
                {
                    <span class="nav-link dropdown-toggle" data-bs-toggle="dropdown">@pageNav.PageNavigatorPage.Name</span>
                } else {
                    <span class="nav-link">@pageNav.PageNavigatorPage.Name</span>
                }
            }
            @if(pageNav.subpages.Any())
            {
                <NavItemsMain ParentPage="@pageNav.PageNavigatorPage" Pages="pageNav.subpages"></NavItemsMain>
            }
        </li>
    }
</ul>*@
@*}*@