@namespace Oqtane.Themes.Controls
@inherits MenuItemsBase

@*@if(PageNav().Children.Any())
{ *@
    @*<ul class="@(PageNav().parentPage.Level == 0 ? "navbar-nav" : "dropdown-menu")">*@
    @foreach (var pageNav in PageNavFactory())
    {
        var cssClasses = new List<string>();
        cssClasses.Add("nav-item");
        cssClasses.Add("nav-" + pageNav.parentPage.PageId);
        if(pageNav.parentPage.Order == 1){ cssClasses.Add("first"); }
        //if( pageNav.parentPage.Order == CountPages() ){ cssClasses.Add("last"); }
        if(pageNav.parentPage.HasChildren == true){ cssClasses.Add("has-child dropdown"); }

        @cssClasses.Add((PageState.Page.PageId == pageNav.parentPage.PageId) ? "active" : ("inactive"));
        if(PageState.Page.PageId == pageNav.parentPage.PageId){ cssClasses.Add("active"); } else { cssClasses.Add("inactive"); }

        if(pageNav.parentPage.IsClickable == false){ cssClasses.Add("disabled"); }
        var classString =  string.Join(" ", cssClasses);
        <li class="@classString">
            @if(pageNav.parentPage.IsClickable == true)
            {
                var linkCssClasses = new List<string>();

                @if (pageNav.parentPage.HasChildren && pageNav.parentPage.Level == 0){ linkCssClasses.Add("dropdown-toggle"); }
                @linkCssClasses.Add((pageNav.parentPage.Level != 0) ? "dropdown-item" : "nav-link");
                var linkClassString = string.Join(" ", linkCssClasses);

                <a class="@linkClassString" target="" href="@GetUrl(pageNav.parentPage)">@pageNav.parentPage.Name</a>
            } else {
                @if (pageNav.parentPage.HasChildren && pageNav.parentPage.Level == 0)
                {
                    <span class="nav-link dropdown-toggle" data-bs-toggle="dropdown">@pageNav.parentPage.Name</span>
                } else {
                    <span class="nav-link">@pageNav.parentPage.Name</span>
                }
            }
            @if(pageNav.parentPage.Level == 0)
            {
                <NavItemsMain ParentPage="@pageNav.parentPage" Pages="pageNav.subpages"></NavItemsMain>
            }
        </li>
    }
@*</ul>*@
@*}*@