@namespace Oqtane.Themes.Controls
@inherits MenuItemsBase

@if(PageNavFactory().MenuPages.Any())
{
    int length = Start.Children.Count; // PageNavFactory().PageNav().Count();

    //should get a list of page navigators and calls the li component for each pagenavigator 
    <ul class="@(PageNavFactory().CurrentPage == null ? "navbar-nav" : "dropdown-menu")">
    @foreach (var pageNav in Start.Children)
    {
        var cssClasses = new List<string>();
        cssClasses.Add("nav-item");
        cssClasses.Add("nav-" + pageNav.CurrentPage.PageId);
        if(pageNav.CurrentPage.Order == 1){ cssClasses.Add("first"); }
        if( pageNav.CurrentPage.Order == length ){ cssClasses.Add("last"); }
        if(pageNav.CurrentPage.HasChildren == true){ cssClasses.Add("has-child dropdown"); }

        if(this.PageState.Page.PageId == pageNav.CurrentPage.PageId){ cssClasses.Add("active"); } else { cssClasses.Add("inactive"); }

        if(pageNav.CurrentPage.IsClickable == false){ cssClasses.Add("disabled"); }
        var classString =  string.Join(" ", cssClasses);

        //<li> should be in its own component should only handel one pagenavigator 
        <li class="@classString">
            @if(pageNav.CurrentPage.IsClickable == true)
            {
                var linkCssClasses = new List<string>();

                @if (pageNav.CurrentPage.HasChildren && pageNav.CurrentPage.Level == 0){ linkCssClasses.Add("dropdown-toggle"); }
                
                @if(pageNav.CurrentPage.Level != 0){ cssClasses.Add("dropdown-item"); } else { cssClasses.Add("nav-link"); }

                var linkClassString = string.Join(" ", linkCssClasses);

                <a class="@linkClassString" target="" href="@GetUrl(pageNav.CurrentPage)">@pageNav.CurrentPage.Name</a>
            } else {
                @if (pageNav.CurrentPage.HasChildren && pageNav.CurrentPage.Level == 0)
                {
                    <span class="nav-link dropdown-toggle" data-bs-toggle="dropdown">@pageNav.CurrentPage.Name</span>
                } else {
                    <span class="nav-link">@pageNav.CurrentPage.Name</span>
                }
            }
            @if(pageNav.Children.Any())
            {
                <NavItemsMain ParentPage="@pageNav.CurrentPage" Pages="pageNav.Subpages"></NavItemsMain>
            }
        </li>
    }
    </ul>
}