@inherits MagicMenu;
@*
File Purpose:       Show a vertical menu, usually used for mobile or sidebar
Recommendations:    See `MenuDefault.razor`
Nice to know:       See `MenuDefault.razor`
*@
@if (CurrentBranch.HasChildren)
{
    <ul class='@CurrentBranch.Classes("ul")'>
        @foreach(var subBranch in CurrentBranch.Children)
        {
            <li class='@subBranch.Classes("li")'>
                <a class='@subBranch.Classes("a")' href='@GetUrl(subBranch)'
                   >@subBranch.Page.Name</a>

                @if (subBranch.HasChildren)
                {
                    <span class='@subBranch.Classes("span")'
                          data-bs-toggle='collapse'
                          data-bs-target='@subBranch.Value("data-bs-target")'
                          aria-expanded='@subBranch.InBreadcrumb'></span>
                    <MenuVertical CurrentBranch="@subBranch"></MenuVertical>
                }
            </li>
        }
    </ul>
}
    