@inherits ToShineMenuBase;

@if (MenuBranch.HasChildren)
{
    <ul class='@MenuBranch.Classes("ul")' data-debug='@MenuBranch.Debug'>
        @foreach(var subBranch in MenuBranch.Children)
        {
            <li class='@subBranch.Classes("li")'>
                <a class='@subBranch.Classes("a")' href='@GetUrl(subBranch)'
                   data-bs-toggle='@(subBranch.Page.HasChildren && subBranch.Page.IsClickable == false ? "dropdown" : "")'
                   >@subBranch.Page.Name</a>

                @if (subBranch.HasChildren)
                {
                    <MenuDefault MenuBranch="@subBranch"></MenuDefault>
                }
            </li>
        }
    </ul>
}

