@inherits MenuListBase;

<li class="@MenuBranch.Classes("li")">
    <a class="@MenuBranch.Classes("a")" href="@GetUrl()" 
        data-bs-toggle="@(MenuBranch.Page.HasChildren && MenuBranch.Page.IsClickable == false ? "dropdown" : "")"
    >
        @MenuBranch.Page.Name
    </a>

    @if (MenuBranch.HasChildren)
    {
        <MenuMain MenuBranch="MenuBranch"></MenuMain>
    }
</li>
