@inherits MenuListBase;

<li class="@MenuBranch.Classes("li")">
    <a class="@MenuBranch.Classes("a")" href="@GetUrl()">
        @MenuBranch.Page.Name
    </a>

    @if (MenuBranch.HasChildren)
    {
        <span class='nav-item-sub-opener @(MenuBranch.IsActive ? "" : "collapsed")'
            data-bs-toggle="@(MenuBranch.HasChildren ? "collapse"  : "")" 
            data-bs-target="@(MenuBranch.HasChildren ? ".collapse-" + MenuBranch.Page.PageId : "")" 
        ></span>
        <MenuSidebar MenuBranch="MenuBranch"></MenuSidebar>
    }
</li>
