@using ToSic.Oqt.Themes.ToShineBs5.Client.Services;
@inherits NavItem;

<li class="@LiClasses()">
    <a class="@AClasses()" href="@LinkHref()">
        @MenuBranch.Page.Name
    </a>

    @if (MenuBranch.HasChildren)
    {
        <span class='nav-item-sub-opener @(MenuBranch.Page.PageId == PageState.Page.PageId ? "" : "collapsed")'
            data-bs-toggle="@(MenuBranch.HasChildren ? "collapse"  : "")" 
            data-bs-target="@(MenuBranch.HasChildren ? ".collapse-" + MenuBranch.Page.PageId : "")" 
        ></span>
        <NavItemsSidebar MenuBranch="MenuBranch"></NavItemsSidebar>
    }
</li>
