@using ToSic.Oqt.Themes.ToShineBs5.Client.Nav;
@using ToSic.Oqt.Themes.ToShineBs5.Client.Menu;
@inherits NavItem;

@if(PageNavigator != null)
{
    <li class="@LiClasses()">
        <a class="@AClasses()" href="@LinkHref()">
            @PageNavigator.CurrentPage.Name
        </a>

        @if(PageNavigator.HasChildren)
        {
            <span class='nav-item-sub-opener collapsed'
                data-bs-toggle="@(PageNavigator.HasChildren ? "collapse"  : "")" 
                data-bs-target="@(PageNavigator.HasChildren ? ".collapse-" + @PageNavigator.CurrentPage.PageId : "")" 
            ></span>
            <NavItemsMobile PageNavigator="PageNavigator"></NavItemsMobile>
        }
    </li>
}