@inherits MenuBase;

@if(PageNavigator != null)
{
    <li class="@liCLasses()">
        @if(PageNavigator.CurrentPage.IsClickable == true)
        {
            <a class="@aClasses()" target="" href="@GetUrl(PageNavigator.CurrentPage)">@PageNavigator.CurrentPage.Name</a>
        } else {
            @if (PageNavigator.CurrentPage.HasChildren && PageNavigator.CurrentPage.Level == 0)
            {
                <span class="nav-link dropdown-toggle" data-bs-toggle="dropdown">@PageNavigator.CurrentPage.Name</span>
            } else {
                <span class="nav-link">@PageNavigator.CurrentPage.Name</span>
            }
        }
        @if(PageNavigator.HasChildren)
        {
            <NavItems ParentPage="@PageNavigator.CurrentPage" PageNavigators="PageNavigator.Children"></NavItems>
        }
    </li>
}
