@inherits MenuListBase;

@code
{
    protected override MenuCss MenuCss => ThemeCss.MenuCssMobile;
}
<li class="@MenuCss.ClassesLi(MenuBranch)">
    <a class="@MenuCss.ClassesA(MenuBranch)" href="@GetUrl()">
        @MenuBranch.Page.Name
    </a>

    @if (MenuBranch.HasChildren)
    {
        <span class='nav-item-sub-opener collapsed'
            data-bs-toggle="@(MenuBranch.HasChildren ? "collapse"  : "")" 
            data-bs-target="@(MenuBranch.HasChildren ? ".collapse-" + MenuBranch.Page.PageId : "")" 
        ></span>
        <MenuMobile MenuBranch="MenuBranch"></MenuMobile>
    }
</li>
