@inherits ThemeBase
@using ToSic.Oqt.Themes.ToShineBs5.Client.Controls;
@*
    File Purpose:       Core theme file and Default variation
    Recommendations:    -
    Nice to know:       Inherits from ThemeBase, which has some additional logic to make things happen
                        The other theme files inherit from this, and will also use the HTML here
*@
@code {
    public override string Name => "Default";
    protected override string BodyClasses => "floatwideheader"; // "default";
    protected override bool ShowSidebarNavigation => false;
    protected override bool ShowBreadcrumb => true;
}
<Header></Header>
<div id="to-shine-page-header-pane" class="container-xxl px-0 @PaneClasses(PaneNameHeader)">
    <Pane Name="@PaneNameHeader"/>
</div>
<main id="to-shine-page-main">

    @* Show Breadcrumb if desired *@
    @if (ShowBreadcrumb)
    {
        <Breadcrumb></Breadcrumb>
    }

    @* If we show the Sidebar, then it must be side-by-side with the Content *@
    @if (ShowSidebarNavigation)
    {
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9 order-lg-2">
                    <Pane Name="@PaneNameContent" />
                    <PaneComponents Components="@DynamicComponents" Name="@PaneNameContent"></PaneComponents>
                </div>
                <div class="col-12 col-lg-3 order-lg-1">
                    <div id="to-shine-nav-sub" class="d-none d-sm-block">
                        <NavEntry ConfigName="Sidebar"></NavEntry>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <Pane Name="@PaneNameContent" />
        <PaneComponents Components="DynamicComponents" Name="@PaneNameContent"></PaneComponents>
    }
    
    @* The Admin pane is only needed to display the oqtane admin windows, the normal editor shouldn't actually use this *@
    @*@if (ShowAdminPane)*@
    <Pane Name="@PaneNames.Admin"/>

    <ToTop></ToTop>
</main>
<Footer></Footer>