@namespace Oqtane.Themes.Controls
@inherits MenuItemsBase

<ul class="navbar-nav">
    @foreach (var page in ToShineGetPages())
    {
        @if(page.HasChildren == true && ToShineGetChildrenOfPage(page.PageId) != null)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle 
                    @(page.PageId == this.PageState.Page.PageId ? "active" : "inactive") 
                    @(ToShineGetChildrenOfPage(page.PageId) != null && page.HasChildren == true ? "has-child" : "")"
                    href="@GetUrl(page)" target="nav-@(page.PageId)">
                    @(page.Name)
                </a>
                <ul class="dropdown-menu" id="nav-@(page.PageId)">
                    @foreach(var childPage in ToShineGetChildrenOfPage(page.PageId))
                    {
                        <li><a class="dropdown-item" href="@GetUrl(childPage)">@childPage.Name</a></li>
                    }
                </ul>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link 
                    @(page.PageId == this.PageState.Page.PageId ? "active" : "inactive") 
                    @(ToShineGetChildrenOfPage(page.PageId) != null && page.HasChildren == true ? "has-child" : "")"
                    href="@GetUrl(page)">
                    @(page.Name)
                </a>
            </li>
        }
    }
</ul>

