@namespace Oqtane.Themes.Controls
@inherits MenuItemsBase

<ul class="nav flex-column">
    @foreach (var childPage in ToShineGetPages())
    {
        <li class="nav-item offcanvas-item-wrapper offcanvas-current">
            <span class="@childPage.Icon" aria-hidden="true" />
            <a class="nav-link active @(childPage.PageId == PageState.Page.PageId ? "current-link" : "" )" href="@GetUrl(childPage)">@childPage.Name</a>
            @if (Pages.Any(e => e.ParentId == childPage.PageId))
            {
                <a class="collapse-trigger-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-@childPage.PageId" aria-expanded="false"></a>
            }
        </li>
        if(childPage.HasChildren == true)
        {
            <div class="collapse" id="collapse-@childPage.PageId">
                @foreach (var childPage2 in ToShineGetChildrenOfPage(childPage.PageId))
                {
                    <li class="nav-item offcanvas-item-wrapper offcanvas-inner-item-wrapper">
                        <a class="nav-link ps-3 @(childPage2.PageId == PageState.Page.PageId ? "current-link" : "" )" href="@GetUrl(childPage2)">@childPage2.Name</a>
                    </li>
                }
            </div>
        }
    }
</ul>