@namespace Oqtane.Themes.Controls
@inherits MenuItemsBase


@*@if(CountPages() > 0)
{
   <ul class="@(ParentPage != null ? "to-shine-nav to-shine-nav-sub" : "2shine-nav-child")">
    @foreach (var Page in ToShineGetPages())
    {
        var cssClasses = new List<string>();
        cssClasses.Add("nav-" + Page.PageId);
        if(Page.Order == 1){ cssClasses.Add("first"); }
        if( Page.Order == CountPages() ){ cssClasses.Add("last"); }
        if(Page.HasChildren == true){ cssClasses.Add("has-child"); }
        if(PageState.Page.PageId == Page.PageId){ cssClasses.Add("active"); } else { cssClasses.Add("inactive"); }
        var classString =  string.Join(" ", cssClasses);
        <li class="@classString">
            <div class="to-shine-linkwrapper">
                    @if(Page.IsClickable == true)
                    {
                        <a target="" href="@GetUrl(Page)">@Page.Name</a>
                    }
                    else
                    {
                        <a href="javascript:void(0)">@Page.Name</a>
                    }
                    @if (Page.HasChildren)
                    {
                        <div class="to-shine-navopener">
                           <div class="to-shine-navopener-icon"></div>
                        </div>
                    }
                </div>
                <NavItemsMobile ParentPage="@Page" Pages="@ToShineGetChildrenOfPage(Page.PageId)"></NavItemsMobile>
        </li>
    }
</ul>
}*@
