@namespace Oqtane.Themes.Controls
@inherits MenuItemsBase

<ul class="nav flex-column">
    @foreach (var childPage in GetChildPagesToShine()){
        <li class="link-level-1 nav-item">
            <a class="sidebar-link @(childPage.PageId == PageState.Page.PageId ? "current-link" : "" )" href="@GetUrl(childPage)">@childPage.Name</a>
            @if (childPage.HasChildren == true)
            {
                <a class="sidebar-trigger-button collapse-trigger-button collapsed" data-bs-toggle="collapse" data-bs-target="#sidebar-collapse-@childPage.PageId" aria-expanded="false"></a>
            }
        </li>
        @if (childPage.HasChildren == true)
        {
            <div class="collapse" id="sidebar-collapse-@childPage.PageId">
            @foreach (var childPage2 in GetChildrenOfPage(childPage.PageId))
            {
                <li class="link-level-2 nav-item">
                    <a class="ps-3 sidebar-link @(childPage2.PageId == PageState.Page.PageId ? "current-link" : "" )" href="@GetUrl(childPage2)">@childPage2.Name</a>
                    @if (childPage2.HasChildren == true)
                    {
                        <a class="sidebar-trigger-button collapse-trigger-button collapsed" data-bs-toggle="collapse" data-bs-target="#sidebar-collapse-@childPage2.PageId" aria-expanded="false"></a>
                    }
                </li>
                @if (childPage2.HasChildren == true)
                {
                    <div class="collapse" id="sidebar-collapse-@childPage2.PageId">
                    @foreach (var childPage3 in GetChildrenOfPage(childPage2.PageId))
                    {
                        <li class="link-level-3 nav-item">
                            <a class="ps-3 sidebar-link @(childPage3.PageId == PageState.Page.PageId ? "current-link" : "" )" href="@GetUrl(childPage3)">@childPage3.Name</a>
                        </li>
                    }
                    </div>
                }
            }
            </div>
        }
    }
</ul>
